:root {
  --bg-color: #313131;
  --dark1: #2E3440;
  --dark2: #3B4252;
  --dark3: #434C5E;
  --white: #D8DEE9;
  --blue: #5E81AC;
  --red: #BF616A;
  --orange: #D08770;
  --green: #A3BE8C;
  --purple: #B48EAD;
}

html{
  background-color: var(--bg-color);
}

.dark {
  color: var(--white);
  background-color: var(--dark1);
}

.dark2{
  color: var(--white);
  background-color: var(--dark2);
}

.dark3 {
  color: var(--white);
  background-color: var(--dark3);
}

.nav-head {
  color: var(--red);
  font-size: 1.5em;
  padding: 1em 1em 1em 1em;
}

.todo-list{
  list-style-type:"square";
}

.strike{
  text-decoration: line-through;
}
